{% extends 'admin/base.html.twig' %}

{% block title %}{{ language.name }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ language.name }}</h1>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="btn btn-default" href="{{ path('admin_language') }}">List</a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-default" href="{{ path('admin_language_update', {'id': language.id}) }}">Update</a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-default" href="{{ path('admin_language_delete', {'id': language.id}) }}" data-confirm="Are you sure?">Delete</a>
        </li>
    </ul>
    <div class="row">
        <table class="table table-striped table-bordered detail-view">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ language.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ language.name }}</td>
                </tr>
                <tr>
                    <th>Code</th>
                    <td>{{ language.code }}</td>
                </tr>
                <tr>
                    <th>Is active</th>
                    <td>{{ language.isActive ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ language.createdAt }}</td>
                </tr>
                <tr>
                    <th>Updated at</th>
                    <td>{{ language.updatedAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
